.background path {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: #34008B;
    opacity: 0.15;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}

text {
    color: #2b2b2b;
}